html {
    background: url('./ilya-mirnyy-jNKjqQQB5Gw-unsplash.jpg') top center;
    background-size: cover;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.keys {
    background-color: rgba(0, 0, 0, .6);
    width: 75vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

}

.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    text-shadow: 0 0 .5rem whitesmoke;
    transition: all 0.1s ease-out;
}
    .key > p{
        text-align: center;
        
    }

.playing {
    transform: scale(1.01);
    border-color: ghostwhite;
    box-shadow: 0 0 1rem ghostwhite;
    background-color: ivory;

}
